.container {
  display: block;
  width: 1200px;
  margin: 0 auto;
}

.container:before {
  content: " ";
  display: table;
}

.space-vertical {
  margin: 32px 0;
}

.row {
  margin: 0 -16px;
}

.cell {
  display: inline-block;
  padding: 0 16px;
  float: left;
}

.cell-33 {
  width: 33.333333%;
}

.cell-50 {
  width: 50%;
}

.cell-66 {
  width: 66.66666%;
}

.list-vertical {
  margin: 0 -16px;
  padding: 0;
  list-style-type: none;
}

.list-item {
  display: inline-block;
  padding: 0 16px;
}

.float-right {
  float: right;
}

.quote {
  font-style: italic;
  letter-spacing: 1px;
}