table {
	width: 100%;

	tr {
		th,
		td {
			margin: 0;
			padding: 4px 16px;
			vertical-align: top;
		}

		th {
			text-align: left;
		}

		td {
			border-top: 1px solid #ccc;

			&.links {
				text-align: right;
			}
		}
	}
}