{{> header }}

<h1>{{ page.title }}</h1>

<div>
<p>Käte Hamburger (geboren am 21. September 1896 in Hamburg; gestorben am 8. April 1992 in Stuttgart) war eine deutsche Germanistin, Literaturwissenschaftlerin und Philosophin. Sie war außerordentliche (unbesoldete) Professorin an der Universität Stuttgart.
</p>
<p>
<p><b>Leben und Werk</b></p>
Käte Hamburger hat 1922 mit einer Arbeit über Schiller („Schillers Analyse des Menschen als Grundlage seiner Kultur- und Geschichtsphilosophie. Ein Beitrag zum Problem des Individualismus, dargestellt auf Grund seiner philosophischen Schriften“) bei Clemens Baeumker in München promoviert. Von den Nationalsozialisten aufgrund ihrer jüdischen Herkunft vertrieben, emigrierte sie 1934 nach Schweden und kehrte erst 1956 aus dem Exil zurück in die Bundesrepublik Deutschland. Während sie in Schweden als Sprachlehrerin, Journalistin und Schriftstellerin tätig war, setzte sie ihre literaturwissenschaftliche Arbeit unter anderem mit einer eindrucksvollen Gesamtwürdigung des Werkes von Leo Tolstoi fort; seit 1955 wirkte sie als Dozentin, seit 1957 als außerplanmäßige Professorin an der Technischen Hochschule Stuttgart; sie verfasste nun zahlreiche Studien u.a. zu Thomas Mann und Rainer Maria Rilke.<br/>

Vor allem ihre literaturtheoretische Untersuchung "Die Logik der Dichtung" (1957, eingereicht unter dem Titel „Das logische System der Dichtung“), mit der sie sich an der Technischen Hochschule Stuttgart (heute: Universität Stuttgart) für allgemeine Literaturwissenschaft habilitierte, begründet ihren internationalen Rang innerhalb der Literaturwissenschaft (siehe auch: Episches Präteritum). Gemeinsam mit Eberhard Lämmert und auch Franz Karl Stanzel hat Käte Hamburger die methodische Neuorientierung der deutschen Germanistik der 1950er Jahre in Richtung einer rationalen und analytischen Methodik beschleunigt.</p>
<p>
<p><b>Würdigung und Nachwirkung</b></p>
<p><ul>
<li>1966 Verleihung des Großen Bundesverdienstkreuzes</li>
<li>1980 Ehrenpromotion durch die Universität Siegen</li>
<li>1984 Verdienstmedaille des Landes Baden-Württemberg</li>
<li>1989 Schiller-Gedächtnispreis</li>
</ul>
Die Universitätsstadt Göttingen ehrte Käte Hamburger mit der Benennung einer Straße (Käte-Hamburger-Weg). Das Bundesministerium für Bildung und Forschung hat ein Förderprogramm für die Geisteswissenschaften unter dem Titel „Käte Hamburger Kollegs“ aufgelegt. Die Universität Stuttgart zeichnet mit dem Käte Hamburger-Preis herausragende Bachelorarbeiten in der germanistischen Literaturwissenschaft aus.
</p><br/><br/>
<p>Quelle: <a href="https://de.wikipedia.org/wiki/Käte_Hamburger" target="_blank">https://de.wikipedia.org/wiki/Käte_Hamburger</p>

</div>


{{> footer }}