{{> header }}

<h1>{{ page.title }}</h1>

<div>
	{{{ page.teaser }}}
</div>

<img class="wordcloud" alt="Käte Hamburger Word Cloud" src="images/word-cloud.png">


<object class="container" align="left"
		data="http://geobrowser.de.dariah.eu/embed/?csv1=https://geobrowser.de.dariah.eu/storage/374601&csv2=https://geobrowser.de.dariah.eu/storage/389251&csv3=https://geobrowser.de.dariah.eu/storage/370251"
		width="900" height="2500">
    <param value="Objekt kann nicht geladen werden"/>
</object>

{{> footer }}