<a name="Top"></a>
{{> header }}

<h1>{{ page.title }}</h1>

<div>
<p>Willkommen auf der Startseite der Käte Hamburger-Plattform der <a href="http://www.ts.uni-stuttgart.de/forschung/seiten/link_index_kaete_hamburger_forschungsstelle.html" target="_blank">Käte Hamburger-Forschungsstelle</a> der <a href="http://www.uni-stuttgart.de/home/" target="_blank">Universität Stuttgart</a>. Die Plattform hat sich zum Ziel gesetzt, einen intuitiven Zugang zum Werk von und über Käte Hamburger sowie zu Käte Hamburgers Biographie anzubieten.</p>

<p>In der nachfolgenden Beschreibung der Homepage sind bereits die verschiedenen Bereiche der selbigen
verlinkt. Im unteren Bereich dieser Seite befindet sich eine <a href="#Bot">geotemporale Karte</a>, die die Veröffentlichungen, die Vita sowie das Zeitgeschehen um Käte Hamburger veranschaulichen soll.</p>

<p>Der Bereich <a href="biographie.html" target="_blank">Biographie</a> bietet Interessierten darüber hinaus einen Überblick über
die Vita Käte Hamburgers.</p>

<p>Im Bereich <a href="werk.html" target=_blank>Werk</a> steht eine Liste der Veröffentlichungen Käte Hamburgers zur Verfügung;
ausgewählte Werke können dort frei heruntergeladen werden.</p>

<p>Der Bereich <a href="projekt.html" target="_blank">Über das Projekt</a> bietet abschließend Informationen zur
Arbeit der verantwortlichen Projektgruppe und der Käte Hamburger-Forschungsstelle.</p>
</div>

<img class="wordcloud" alt="Käte Hamburger Word Cloud" src="images/wordcloud.png">


<a name="Bot"><object
		data="http://geobrowser.de.dariah.eu/embed/?csv1=https://geobrowser.de.dariah.eu/storage/374601&csv2=https://geobrowser.de.dariah.eu/storage/389251&csv3=https://geobrowser.de.dariah.eu/storage/370251"
		width="100%" height="900">
    <param value="Objekt kann nicht geladen werden"/>
</object></a>

<p><a href="#Top">zum Seitenanfang</a></p>

{{> footer }}