{{> header }}

<div>
	<p>Initiatoren dieses Projekts sind die <a href="http://www.ts.uni-stuttgart.de/forschung/seiten/link_index_kaete_hamburger_forschungsstelle.html">Käte Hamburger-Forschungsstelle</a> und die <a href="http://www.uni-stuttgart.de/dh">Abteilung ‚Digital Humanities‘</a> des <a href="http://www.ts.uni-stuttgart.de/">Stuttgarter Research Centres for Text Studies</a>. Die Käte Hamburger-Forschungsstelle plant, alle Veröffentlichungen Käte Hamburgers zu dokumentieren, und - soweit möglich – einem breiten Publikum durch eine Online-Edition zugänglich zu machen.</p>

<p>Die ‚Digital Humanities‘-Abteilung bietet im Rahmen des Masterstudiengangs ‚Digital Humanities‘ ein einsemestriges Projektseminar an, bei dem sich die Studierenden an möglichst nachhaltigen Projekten in Kleingruppen erproben. Ein Team konzipiert und erstellt für die Käte Hamburger-Forschungsstelle eine Online-Plattform, auf der Hamburgers Texte zugänglich gemacht werden. Es besteht der Anspruch einer Textsammlung, jedoch nicht der einer digitalen Edition. Die Käte Hamburger-Forschungsstelle fungiert dabei als Dienstleister, der den Rahmen festlegt. Das Projektteam lotet innerhalb dieses Rahmens die eigenen Lernziele aus. Es ist geplant, das Projekt regelmäßig im Projektseminar fortzusetzen, sodass zuerst die grobe Struktur der Plattform konzipiert und umgesetzt wird, um dann nach und nach Inhalte und kleinere Features zu ergänzen.</p>

<p>Das Projektteam 2016 besteht aus Stephanie Bujak, Sarah Eblen, Cansu Göksu und Sten Otte, verantwortlich ist <a href="http://www.uni-stuttgart.de/dh/kontakt/">Peggy Bockwinkel</a>.</p>
</div>

{{> footer }}