  	</div>
  </div>
</main>
<footer>
	<div class="container">
		<div class="space-vertical">	
			<div class="row">
			
				<div class="cell cell-50">
					 <div class="quote">
							„Es ist nicht von ungefähr, daß wir bei der Bestimmung der Lyrik als einer symbolischen Form nicht zu gleicher struktureller Genauigkeit gelangen können wie hinsichtlich der fiktionalen Dichtung."
						</div>
					</div>

					<div class="cell cell-50">
					 	<ul class="list-vertical float-right">
							{{#each global.footer }}
						 		<li class="list-item">
									<a href="{{ this.url }}" title="{{ this.hoverText }}">
										{{ this.title }}
									</a>
								</li>
							{{/each}}
				 		</ul>
					</div>

				</div>
			</div>
		</div>
</footer>
</body>
</html>