<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Käte Hamburger - Leben, Werke, Biographie</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<header>
	<div>
		<img class="header-image" src="kaete_web.jpg" alt="Logo - Kaete">
	</div>
<div>
	<nav>
		<ul>
			{{#each global.navigation }}
				<li>
					<a href="{{ this.url }}" title="{{ this.hoverText }}">
						{{ this.title }}
					</a>
				</li>
			{{/each}}
		</ul>
	</nav>
</div>
</header>